/* google font 'Outfit' import */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* color variables */
:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

/* elements render */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* start the style */
body {
  width: 100%;
  height: 100vh;
  background-color: var(--Light-gray);
  font-family: "Outfit", sans-serif;
  line-height: 1.3;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 1em;
  padding-bottom: 2.5em;
  width: min(90%,19rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--White);
  box-shadow: 0 0 1px var(--White);
  border-radius: 1.2rem;
}

.box__img {
  width: 100%;
  height: auto;
  border-radius: .6rem;
}

.box__title {
  margin-top: 1em;
  margin-bottom: .8em;
  width: 19ch;
  color: var(--Dark-blue);
  text-align: center;
  font-size: clamp(1.3rem, 1.6vw, 1.5rem);
}

.box__content {
  width: 25ch;
  color: var(--Grayish-blue);
  text-align: center;
  font-size: clamp(.9rem, 1vw, 1.1rem);
}